<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097970743703-13j4556t2u7ri6931as3cuvm7u2af6tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097970743703-13j4556t2u7ri6931as3cuvm7u2af6tf</string>
	<key>API_KEY</key>
	<string>AIzaSyDkMTsA3BJMbvfj34V1nKV9GLtw54EyQ7g</string>
	<key>GCM_SENDER_ID</key>
	<string>1097970743703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YenShao.JustStudy</string>
	<key>PROJECT_ID</key>
	<string>juststudy-fd5a5</string>
	<key>STORAGE_BUCKET</key>
	<string>juststudy-fd5a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097970743703:ios:11a6ac4d9ba54075</string>
	<key>DATABASE_URL</key>
	<string>https://juststudy-fd5a5.firebaseio.com</string>
</dict>
</plist>